# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-*
site/
CMakeLists.txt.user
.pioenvs
.piolibdeps
.vscode
lib/readme.txt
buildtest/
.vscode/c_cpp_properties.json
.vscode/.browse.c_cpp.db*
.vscode/launch.json
.directory

generate_cpp_objects_from_registry/out
generate_cpp_objects_from_registry/build
generate_cpp_objects_from_registry/.gradle

examples/nodemcu_with_led/src/wifi_credentials.h
